@font-face {
  font-family: 'icomoonfont';
  src:  url('../fonts/icomoonfont.eot?u32rja');
  src:  url('../fonts/icomoonfont.eot?u32rja#iefix') format('embedded-opentype'),
    url('../fonts/icomoonfont.ttf?u32rja') format('truetype'),
    url('../fonts/icomoonfont.woff?u32rja') format('woff'),
    url('../fonts/icomoonfont.svg?u32rja#icomoonfont') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoonfont' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-0:before {
  content: "\e900";
}
.icon-1:before {
  content: "\e901";
}
.icon-2:before {
  content: "\e902";
}
.icon-3:before {
  content: "\e903";
}
.icon-4:before {
  content: "\e904";
}
.icon-5:before {
  content: "\e905";
}
.icon-6:before {
  content: "\e906";
}
.icon-7:before {
  content: "\e907";
}
.icon-8:before {
  content: "\e908";
}
.icon-9:before {
  content: "\e909";
}
.icon-a:before {
  content: "\e90a";
}
.icon-accessible-icon:before {
  content: "\e90b";
}
.icon-angle-down:before {
  content: "\e90c";
}
.icon-angle-left:before {
  content: "\e90d";
}
.icon-angle-right:before {
  content: "\e90e";
}
.icon-angle-up:before {
  content: "\e90f";
}
.icon-apple:before {
  content: "\e910";
}
.icon-arrow-down-long:before {
  content: "\e911";
}
.icon-bitcoin:before {
  content: "\e912";
}
.icon-bluetooth:before {
  content: "\e913";
}
.icon-circle-down:before {
  content: "\e914";
}
.icon-circle-left:before {
  content: "\e915";
}
.icon-circle-play:before {
  content: "\e916";
}
.icon-circle-question:before {
  content: "\e917";
}
.icon-circle-right:before {
  content: "\e918";
}
.icon-circle-up:before {
  content: "\e919";
}
.icon-clock:before {
  content: "\e91a";
}
.icon-envelope-open:before {
  content: "\e91b";
}
.icon-expeditedssl:before {
  content: "\e91c";
}
.icon-facebook-messenger:before {
  content: "\e91d";
}
.icon-face-dizzy:before {
  content: "\e91e";
}
.icon-face-grin:before {
  content: "\e91f";
}
.icon-face-grin-hearts:before {
  content: "\e920";
}
.icon-face-grin-squint-tears:before {
  content: "\e921";
}
.icon-google:before {
  content: "\e922";
}
.icon-grav:before {
  content: "\e923";
}
.icon-gripfire:before {
  content: "\e924";
}
.icon-instagram:before {
  content: "\e925";
}
.icon-raspberry-pi:before {
  content: "\e926";
}
.icon-rocketchat:before {
  content: "\e927";
}
.icon-simplybuilt:before {
  content: "\e928";
}
.icon-square-facebook:before {
  content: "\e929";
}
.icon-square-instagram:before {
  content: "\e92a";
}
.icon-square-twitter:before {
  content: "\e92b";
}
.icon-square-whatsapp:before {
  content: "\e92c";
}
.icon-square-youtube:before {
  content: "\e92d";
}
.icon-telegram:before {
  content: "\e92e";
}
.icon-themeisle:before {
  content: "\e92f";
}
.icon-youtube:before {
  content: "\e930";
}
